

.fleft      { float: left; }
.fright     { float: right; }
.clr        { clear: both; }


#canvas
{
    height: 80%;
    border: 1px solid #333;
}
.draggable 
{
    position: static;
}
#canvas > .draggable
{
}
